img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

nav, footer {
    background-color: rgb(70, 180, 81);
    color: white;
}

a:hover {
    background-color: white;
    color: steelblue;
}

main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

footer p {
    font-size: 20px;
    margin: 20px;
}

a {
    font-size: 1.5em;
}
